<% layout('layouts/boilerplate') %>

<div class="card border-dark border-top-0 border-start-0 border-end-0">
    <div class="card-body">
        <div class="row">
            <div class="col-1 border-end">
                Order No.
            </div>
            <div class="col-1 border-end">
                Order is?
            </div>
            <div class="col-1 border-end">
                Name
            </div>
            <div class="col-2 border-end">
                Date
            </div>
            <div class="col-2 border-end">
                Payment Method
            </div>
            <div class="col-3 ">
                Email Id
            </div>
            
        </div>
    </div>
</div>

<% for(let order of orders) {%>
    <div class="card ">
        <div class="card-body">
            <div class="row">
                <div class="col-1">
                    <%= order.orderNo %> 
                </div>
                <div class="col-1">
                    <%= order.status %>ed 
                </div>
                <div class="col-1">
                    <%= order.userId.name %> 
                </div>
                <div class="col-2">
                    <%= order.dateOrdered %> 
                </div>
                <div class="col-2">
                    <%= order.paymentmethod %> 
                </div>
                <div class="col-3">
                    <%= order.userId.email %> 
                </div>
                <div class="col-2">
                    <p>
                        <button class="btn btn-new-submit" type="button" data-bs-toggle="collapse" data-bs-target="#<%= order.userId.name %>" aria-expanded="false">
                          More Info
                        </button>
                      </p>
                </div>
                <div class="collapse" id="<%= order.userId.name %>">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-6">
                                <table class="table table-bordered table-striped mb-2 table-primary table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Item</th>
                                        <th scope="col">Amount</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% for( let p of order.cart) {%>
                                            <tr>
                                                <th scope="row"><%= p.quantity %></th>
                                                <td><%= p.product.name %> </td>
                                                <td><%= p.amt %></td>
                                            </tr>
                                        <% } %> 
                                        <tr>
                                            <td><b>Total</b></td>
                                            <td></td>
                                            <td><%= order.cartTotal %> </td>
                                        </tr>
                                    </tbody>
                                </table>
                              </div>
                              <div class="col-4">
                                <p>
                                    <b>Delivery Address: </b> <%= order.deliveryAddress %> 
                                </p>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>  